<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="L Studio"
        android:supportsRtl="true"
        android:theme="@style/Theme.Siren">

        <!-- מסך הפתיחה (Splash) - זה המסך הראשון -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Siren">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- המסך הראשי של האפליקציה -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>
